html {
    background :rgb(255, 255, 255);
  }
  
  body {
    margin: 40px;
    padding: 40px;
    background: #18453B;
    color: rgb(255, 255, 255)
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
  }
  
  .intro {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 4px solid #000000;
  }

  .first-para {
    font-size:1.25em;
    text-align:center;
  }

  .class-list {
    font-size:1.15em;
    border-bottom: 4px solid #000000;
  }

  .project-intro {
    font-size:1.25em;
    text-align:center;
  }

  .project-info {
    display:flex;
    font-size:1em;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background: #343d46;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
  }

  .project-info-2 {
    padding:10px;
    margin:10px;
  }

  .experience {
    text-align: center;
    font-size: 1.25em;
    border-bottom: 4px solid #000000;
  }

  .persona-pictures {
    display:flex;
    justify-content: space-evenly;
  }

  .persona-pictures-2 {
    display: flex;
    justify-content: space-evenly;
  }